<?xml version="1.0"?>
<!--
/**
 * Copyright © Volodymyr Klymenko. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource
                    id="Sangria_BackendVoice::general"
                    title="Backend Voice"
                    sortOrder="1" />
            </resource>
        </resources>
    </acl>
</config>
