<?xml version="1.0"?>
<!--
/**
 * Copyright © Volodymyr Klymenko. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sangria_backend_voice_settings>
            <general>
                <google_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
            </general>
        </sangria_backend_voice_settings>
    </default>
</config>
